// RECORD MODULE

.record {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  @include border-rounded(#FFF);
  padding: 0.5em;
  margin: 0.2em 0 0.2em 0;
  color: #FFF;
  text-shadow: $text-shadow;
  // alter this with media queries
  width: 100%;
}

.record--none {
  text-align: center;
  justify-content: center;
}

.record__display-container {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  padding-bottom: 5px;
  border-bottom: 1px solid #FFF;
}

.record__image-container {
  width: 100px;
  padding: 4px;
  background-color: $color-green-dark;
  @include border-rounded(#FFF);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.record__button-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-top: 5px;
}

.record__image {}

.record__summary {
  flex: 1;
  padding: 0 5px;
}

.record__title, .record__subtitle, .record__authors, .record__categories, .record__owner, .record__borrower, .record__checkout-date, .record__request-date {
  padding-bottom: 0.3em;
}

.record__title {
  font-style: italic;
  font-weight: bold;
}

.record__subtitle {
  font-size: 0.8em;
  font-style: italic;
}

.record__hr {
  color: #FFF;
}

.record__authors {
  font-size: 0.9em;
}

.record__categories {
  font-size: 0.8em;
}

.record__owner {
  font-size: 0.9em;
}

.record__borrower {
  font-size: 0.9em;
}

.record__checkout-date {
  font-size: 0.9em;
}

.record__request-date {
  font-size: 0.9em;
}

.record__button {
  @include button(0.8em, 9em);
}
