<section class="records">
  <h1 class="records__title">Available Books</h1>
  <ul class="records__list">
    <li class="record record--none" data-ng-if="(availableBooks.length == 0)">No books available to borrow</li>
    <li class="record" data-ng-repeat="copy in availableBooks">
      <img class="record__image" data-ng-src="{{copy.book.imagelink}}">
      <ul class="record__summary">
        <li class="record__title">{{copy.book.title}}</li>
        <li class="record__subtitle" ng-if="copy.book.subtitle">{{copy.book.subtitle}}</li>
        <li class="record__authors">by {{copy.book.authors.join(", ")}}</li>
        <li class="record__categories">{{copy.book.categories.join(", ")}}</li>
        <li class="record__owner">Owner: {{copy.owner.display_name}}</li>
      </ul>

      <!-- <button data-ng-click="toggleDescription(1, book)">Show Details</button> -->

      <button class="record__button record__button--request"
        data-ng-click="requestBook(copy)">Request Book</button>

      <!-- <section class="description" data-ng-if="book.showDescription">
      <h2 class="description__header">Description:</h2>
      <p class="description__p">{{copy.book.description}}</p>
      <button data-ng-click="toggleDescription(2, book)">Hide</button> -->

    </section>
    </li>
  </ul>
</section>
