@import 'reset';

$color-green: #13D18F !default;
$color-facebook-blue: rgba(59, 89, 153, 1.0) !default;
$text-shadow: 0.1em 0.1em 0.2em black;

img, embed, object, video {
  max-width: 100%;
}

body {
  font-family: Courier, monospace;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

@import 'modules/header';
@import 'modules/main';
@import 'modules/footer';
@import 'modules/public';
@import 'modules/login';
