<section class="book__list">
  <h1 class="book__list__header">My Book Requests</h1>
  <h2 class="book__list__none" data-ng-if="(outgoingBookRequests.length == 0)">
    No books requested
  </h2>
  <ul class="list">
    <li class="list__item" data-ng-repeat="bookrequest in outgoingBookRequests">
      <img data-ng-src="{{bookrequest.copy.book.imagelink}}">
      <ul>
        <li>{{bookrequest.copy.book.title}}</li>
        <li ng-if="bookrequest.copy.book.subtitle">{{bookrequest.copy.book.subtitle}}</li>
        <li>by: {{bookrequest.copy.book.authors.join(", ")}}</li>
        <li>{{bookrequest.copy.book.categories.join(", ")}}</li>
        <li>Owner: {{bookrequest.copy.owner.display_name}}</li>
      </ul>
      <button data-ng-click="cancelBookRequest(bookrequest)">Undo</button>
    </li>
  </ul>
</section>

<section class="book__list">
  <h1 class="book__list__header">Requests For My Books</h1>
  <h2 class="book__list__none" data-ng-if="(incomingBookRequests.length == 0)">
    No books requested
  </h2>
  <ul class="list">
    <li class="list__item" data-ng-repeat="bookrequest in incomingBookRequests">
      <img data-ng-src="{{bookrequest.copy.book.imagelink}}">
      <ul>
        <li>{{bookrequest.copy.book.title}}</li>
        <li ng-if="bookrequest.copy.book.subtitle">{{bookrequest.copy.book.subtitle}}</li>
        <li>by: {{bookrequest.copy.book.authors.join(", ")}}</li>
        <li>{{bookrequest.copy.book.categories.join(", ")}}</li>
        <li>Requester: {{bookrequest.copy.owner.display_name}}</li>
      </ul>
      <button data-ng-click="checkoutBook(bookrequest)">Check Out</button>
      <button data-ng-click="denyBookRequest(bookrequest)">Deny</button>
    </li>
  </ul>
</section>
